html, body {
    width: 100%;
    overflow-x: hidden;
}

html {
    background-color: black;
    border: 1px solid pink;
}

h1 { 
    display: flex;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
    color: white;	
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.495);
}

.main-div {
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.search-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.searchfield{
    box-sizing: border-box;
    border-radius: 5px;
    width: 75%;
    height: 35px;
    border: 0.2px solid rgba(213, 213, 213, 0.249);
    box-shadow: 0 0 10px 0 rgba(213, 213, 213, 0.249);
    transition: box-shadow 500ms;
}

.searchfield:focus, .searchfield:hover {
    box-sizing: border-box;
    box-shadow: 0 5px 10px 0 rgba(213, 213, 213, 0.249);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

input.searchfield {
    text-indent: 10px;
    background-color:black;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    color:white;
}

.searchfield:focus{
    outline: none;
}

input::placeholder {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    color: white;
    /* color:rgba(213, 213, 213, 0.461); */
}

.searchresults {
  position: absolute;
  width: 23%;
  top: 22%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  list-style-type: none;
  background: black;
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  color: white;
  text-indent: 12px;
}

.searchresults li {
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    align-items: center;
    width: 100%;
}

.searchresults li:hover {
    background: rgba(6, 65, 101, 0.488);
}

.games-div {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 70%;
}

.games {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    overflow-x: scroll;
    width: 100%;
}

.games li {
    display: flex;
    padding: 0;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    list-style-type: none;
    font-family: 'Oswald', sans-serif;
    color: rgba(213, 213, 213, 0.461);
    font-size: 14px;
}

.games li:hover {
    background-color: rgba(228, 15, 47, 0.29);
}

.selectedgame {
    background-color: rgba(228, 15, 47, 0.29);
}

.teamLogo {
    width: 75px;
    height: 75px;
}

.allbutton-div {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    width: 60%;
}

.allshotsbutton {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    border: 1px solid rgba(213, 213, 213, 0.461);
    background: black;
    color: rgba(213, 213, 213, 0.461);
}

.allshotsbutton:hover {
    color: skyblue;
    border: 1px solid skyblue;
    outline: 0;
}

.allshotsbutton:focus {
    outline: 0;
}

.search {
    text-indent: 10px;
    width: 75%;
    font-size: 16px;
    color: white;
    color: rgba(213, 213, 213, 0.461);
    font-family: 'Oswald', sans-serif;
    margin-top: 5%;
    margin-bottom: 0;
    padding: 0;
}

.quarters {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 30px;
    width: 75%;
}

.quarters input {
    box-sizing: border-box;
    width: 50px;
    height: 20px;
    border: 1px solid rgba(213, 213, 213, 0.461);
    color: rgba(213, 213, 213, 0.461);
    border-radius: 5px;
    background: black;
}

.quarters input:focus {
    outline: none;
}

.quarters input:hover {
    border: 1px solid skyblue;
    color: skyblue;
}

.quarters input:active {
    border: 1px solid skyblue;
    color: skyblue;
}

.qactive {
    border: 1px solid skyblue !important;
    color: skyblue !important;
}




