html {
    background-color: black;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.estherbaek {
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
    display: flex;
    justify-content: center;
    color: white;
    margin: 0;
    margin-top: 5px;
    padding: 0;
}

h1 { 
    display: flex;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
    color: white;	
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.495);
}

.lucky {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 30%;
}

.randombutton {
    width: 120px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid white;
    background: black;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 13px;
}

.randombutton:hover {
    border: 1px solid skyblue;
    color: skyblue;
}

.randombutton:focus {
    outline: none;
}

.main-div {
    margin-top: 1.5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#svgcontainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 2%;
    width: 600px;
    z-index: -1;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.search-div {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.searchfield{
    box-sizing: border-box;
    border-radius: 5px;
    width: 90%;
    height: 35px;
    border: 0.2px solid rgba(213, 213, 213, 0.249);
    box-shadow: 0 0 10px 0 rgba(213, 213, 213, 0.249);
    transition: box-shadow 500ms;
}

.searchfield:focus, .searchfield:hover {
    box-sizing: border-box;
    box-shadow: 0 5px 10px 0 rgba(213, 213, 213, 0.249);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

input.searchfield {
    text-indent: 15px;
    background-color:black;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    color:white;
}

.initial {
    position: absolute;
    left: 35%;
    width: 30%;
}

.searchfield:focus{
    outline: none;
}

input::placeholder {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    color: white;
}

.searchresults {
  z-index: 1;
  position: absolute;
  width: 27%;
  top: 153px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  list-style-type: none;
  background: black;
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  color: white;
  text-indent: 12px;
}

.initialresults {
    left: 35%;
    width: 30%;
}

.searchresults li {
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    align-items: center;
    width: 100%;
}

.searchresults li:hover {
    background: rgba(6, 65, 101, 0.488);
}

.seasonselect-div {
    margin-top: 2.5%;
    position: relative;
    display: flex;
    width: 92%;
    height: 25px;
}

.seasonselect-div select {
    width: 100%;
    height: 100%;
    background-color: black;
    color: rgba(213, 213, 213, 0.249);
    text-rendering: none;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    border: none;
}

.seasonselect-div select:focus {
    outline: none;
}

.seasonselect-div select:hover {
    color: skyblue;
}

.leftarr, .right {
    height: 120px;
    width: 10%;
}

.leftarrow, .rightarrow {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    height: 120px;
    background: black;
    color: rgba(213, 213, 213, 0.249);
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    border-color: black;
}

.leftarrow:focus, .rightarrow:focus {
    outline: none;
}

.leftarrow:hover, .rightarrow:hover {
    color: skyblue;
}

.games-arrows {
    display: flex;
    flex-direction: row;
    width: 90%;
}

.games-div {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    overflow: scroll;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

.games-div::-webkit-scrollbar {
    display: none;
}

.games {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 120%;
    white-space: nowrap;
}

.games li {
    display: flex;
    padding: 0;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    list-style-type: none;
    font-family: 'Oswald', sans-serif;
    color: rgba(213, 213, 213, 0.461);
    font-size: 14px;
}

.games li:hover {
    background-color: rgba(228, 15, 47, 0.29);
}

.selectedgame {
    background-color: rgba(228, 15, 47, 0.29);
}

.teamLogo {
    width: 75px;
    height: 75px;
}

.allbutton-div, .breakdown-div {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    width: 60%;
}

.allshotsbutton, .breakdownbutton {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    border: 1px solid rgba(213, 213, 213, 0.461);
    background: black;
    color: rgba(213, 213, 213, 0.461);
}

.allshotsbutton:hover, .breakdownbutton:hover {
    color: skyblue;
    border: 1px solid skyblue;
    outline: 0;
}

.allshotsbutton:focus, .breakdownbutton:focus {
    outline: 0;
}

.teamseason {
    margin-top: 5%;
    display: inline-flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
    height: 80px;
    flex-direction: column;
}

.search, .teamseason h3 {
    text-indent: 5px;
    width: 90%;
    font-size: 16px;
    color: white;
    color: rgba(213, 213, 213, 0.461);
    font-family: 'Oswald', sans-serif;
    margin-top: 4.5%;
    margin-bottom: 1%;
    padding: 0;
}

.quarters {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 30px;
    width: 75%;
}

.quarters input {
    margin-left: 1%;
    margin-right: 1%;
    box-sizing: border-box;
    width: 50px;
    height: 20px;
    border: 1px solid rgba(213, 213, 213, 0.461);
    color: rgba(213, 213, 213, 0.461);
    border-radius: 5px;
    background: black;
}

.quarters input:focus {
    outline: none;
}

.quarters input:hover {
    border: 1px solid skyblue;
    color: skyblue;
}

.quarters input:active {
    border: 1px solid skyblue;
    color: skyblue;
}

.qactive {
    border: 1px solid skyblue !important;
    color: skyblue !important;
}

.pietext {
    fill: rgb(194, 194, 194);
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 5%;
}

.personal-div {
    display: flex;
    justify-content: center;
}

.personal-div a {
    filter: invert(100%);
    margin-left: 1%;
    margin-right: 1%;
}

.personal-div a img {
    width: 30px;
}

.personal-div a img:hover {
    filter: hue-rotate(180deg);
}



